<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='description' content='template'>
    <title>{% block title %}{% endblock %}</title>
	<!-- loads the path to your static files -->
	{% load staticfiles %}
	<link rel=stylesheet" type="text/css" href="{% static 'log/style.css' %}"/>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<a class="navbar-brand" href="{% url 'home:index' %}">STK Logging</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block profile_active %}{% endblock %}"><a href="#"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Profile</a></li>
                <li class="{% block people_active %}{% endblock %}"><a href="#"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; People</a></li>
            	<li class="{% block blog_active %}{% endblock %}"><a href="{% url 'blog:index_blog' %}"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; Blogs</a></li>
				<li class="{% block tech_active %}{% endblock %}"><a href="#"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; Technologies</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><i class="fa fa-question-circle"></i> Help</a></li>
				<li>
					<a href="{% url 'home:logout' %}">
						<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

{% block content %}
{% endblock %}

<footer class="container-fluid text-center" style="position: absolute; bottom: 0px; width: 100%; padding: 10px 15px;
											   background-color: #f5f5f5; border-top: 1px solid #ddd;
											   border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;
											   color: #5e5e5e">
	<p>&copy; Copyright ein Sheiste</p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/jquery_min.js"></script>
<script>window.jQuery || document.write('<script src="/static/jquery.min.js"><\/script>')</script>
<script src="/static/bootstrap_min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/ie10-viewport-bug-workaround.js"></script>
</body>
</html>