{% extends 'home/base.html' %}

<!-- Title of page to edit-->
{% block title %}STK Logging{% endblock %}

<!-- Scripts for this page-->
{% block extrahead %}
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>


{% endblock %}
<!-- Makes the page active -->
{% block home_active %}active{% endblock %}
{% load auth_extras %}
<!-- Content to edit -->
{% block content %}
<div class="col-sm-7">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#your_progess">Your Progress</a></li>
        {% if request.user|has_group:"Tech Lead" %}
        <li><a data-toggle="tab" href="#your_team">Your Team</a></li>
        {% endif %}
    </ul>



    <div class="tab-content">
        <div id="your_progess" class="tab-pane fade in active">
            <p>bye</p>
        </div>
        <div id="your_team" class="tab-pane fade">
            <p>hi</p>
        </div>
    </div>
</div>





<!-- side bar -->
<div class="col-sm-3">
    <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
                <h1>Recent Blogs</h1>
                {% if all_blogs %}
                    {% for blog in all_blogs %}
                        <li><a href="{% url 'blog:detail_blog' blog.id  %}">{{ blog.title }}</a></li><p>{{ blog.author.first_name }} {{ blog.author.last_name }}</p>
                    {% endfor %}
                {% else %}
                    <p>Sorry there are no blogs current available</p>
                {% endif %}
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}