{% extends 'home/base_visitor.html' %}
{% block title %}Log In{% endblock %}
{% block login_active %}active{% endblock %}

{% block content %}
<div class="container-fluid text-center" style="min-height: 100%; overflow-y: hidden; margin-top: 70px">

  <div class="row content">

    <div class="col-sm-4 sidenav" style="background: white">
    </div>

    <div class="col-sm-4 text-center">
      <h1>Login</h1>
      <div class="well">
          {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
          {% endif %}
          <form class="form-horizontal" role="form" action="{% url 'home:login_user'%}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                  <label for="id_username">
                      Username:
                  </label>
                  <input id="id_username" maxlength="30" name="username" type="text">
              </div>
              <div class="form-group">
                  <label for="id_password">
                      Password:
                  </label>
                  <input id="id_password" maxlength="30" name="password" type="password">
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-success">Submit</button>
                  </div>
              </div>
          </form>
          <div class="panel-footer">
              Don't have an account? <a href="{% url 'home:register' %}">Click here</a> to register.
          </div>
      </div>
    </div>
    <div class="col-sm-4 sidenav" style="background: white">
    </div>

  </div>
</div>

{% endblock %}
