{% extends 'log/base.html' %}
<script src="/../css/overlay.css"></script>
<script src="/../css/buttons.css"></script>
{% block content %}

<div id="newBlog" class="overlay">
  <a onclick="closeBlogCreation()">&times;</a>
  <div class="overlay-content">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
</div>


<div class="container-fluid" style="margin-top:50px">
  <div class="row content">
    <div class="col-sm-7">
		<h1>Blogs</h1>
	</div>
	<div class="col-sm-5">
		<button onclick="openBlogCreation()">Create A Blog</button>
	</div>

<script src="/../javascripts/java_overlays.js"></script>
{% endblock %}
