{% extends 'log/base.html' %}
<script src="/../css/overlay.css"></script>
<script src="/../css/buttons.css"></script>
{% block content %}

<div id="newBlog" class="overlay">
  <div class="overlay-content">
	<span class="close" onclick="closeBlogCreation()">&times;</span>
    <p>hi</p/>
  </div>
</div>


<div class="container-fluid" style="margin-top:50px">
  <div class="row content">
    <div class="col-sm-7">
		<h1>Blogs</h1>
	</div>
	<div class="col-sm-5">
		<button class="button" onclick="openBlogCreation()">Create A Blog</button>
	</div>

<script src="/../javascripts/java_overlays.js"></script>
{% endblock %}
